.btn-grad {
    background-image: linear-gradient(to right, #141E30 0%, #243B55 51%, #141E30 100%)
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



.btn-grad2 {
    background-image: linear-gradient(to right, #00d2ff 0%, #928DAB 51%, #00d2ff 100%)
}

.btn-grad2 {
    margin: 50px;
    margin-left: 650px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad2:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}




body {
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}

h3 {
    font-family: 'Gideon Roman', cursive;
}
#play{
    width: 135px;
    font-size: 25px;
}

canvas{
    border: 5px solid white;
border-radius: 20px;
margin-top: 150px;
}

#songname{
    text-align: center;
    margin-right: 620px;
}
